body {
	margin-top: 56px;
}
a:link{
  color: gray;
  text-decoration: none;
}
a:visited{
  color: darkgray;
  text-decoration: none;  
}
a:hover{
  text-decoration: none;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
a:focus {
  outline: 0;
}

/*edit auction php file custome file location*/ 
#customFile {
	cursor: pointer;	
}


/*error messages display*/
.errors {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  text-align: left;
}

/*messages display*/
.messages {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  text-align: left;
}

/*messages display*/
.warnings {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  text-align: left;
}
